<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>{{ style }}</style>
</head>
<body>
    <header>
        <h1>{{ drugs }}</h1>
    </header>
    <nav>
        <p><a href="../">{{ mainpage }}</a></p>
        <p><a href="#">{{ drugs }}</a></p>
        <p><a href="../cart/">{{ cart }}</a></p>
    </nav>
    <main>
        <section>
            <h2>{{ drugs }}:</h2>
            <p><button>Купить</button> Витамины Омега-3</p>
            <p><button>Купить</button> Крем для лица с гиалуроновой кислотой</p>
            <p><button>Купить</button> Противовирусный препарат</p>
        </section>
    </main>
    <footer>
        <p>&copy;{{copyright}}</p>
    </footer>
</body>
</html>