<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <style>{{ style }}</style>

</head>
<body>
    <header>
        <h1>{{ title_in }}</h1>
    </header>
    <nav>
        <p><a href="#">{{ mainpage }}</a></p>
        <p><a href="list/">{{ drugs }}</a></p>
        <p><a href="cart/">{{ cart }}</a></p>
    </nav>
    <main>
        <section>
            <h2>Добро пожаловать в нашу аптеку!</h2>
            <p>Мы предлагаем широкий ассортимент качественных лекарственных средств и косметических товаров по доступным ценам.</p>
        </section>
        <section>
            <h2>Наши преимущества</h2>
            <ul>
                <li>Квалифицированные консультанты</li>
                <li>Удобное расположение</li>
                <li>Быстрая доставка</li>
                <li>Гарантия качества</li>
            </ul>
        </section>
        <section>
            <h2>Наши партнёры</h2>
            <ul>
                <li>Яндекс.Директ</li>
                <li>Google.Analytics</li>
                <li>VK Play</li>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy;{{copyright}}</p>
    </footer>
</body>
</html>